STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
PRODIGI_API_KEY=
PRODIGI_ENVIRONMENT=sandbox
NEXT_PUBLIC_APP_MODE=test
ORDER_SIGNING_SECRET=
CRON_SECRET=
APP_URL=http://localhost:3000
STORE_ID=datetime-local
