@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Chivo";
  src: local("Chivo");
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.tabular {
  font-variant-numeric: tabular-nums;
}
